.profile-section__container {
  & .form-pics {
    margin-bottom: 5%;
  }
  & .review {
    transform: scale(0.40);
    width: 100%;
  }
  & form {
    & input {
      border-radius: 10px;
      border: 1px solid #a253f924;
    }
    & label {
      min-width: 100px;
    }
    & .input-label {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
    & .button-form {
      & > button {
        border-radius: 15px;
        border: none;
        background: linear-gradient(274deg, #8d31ec 0.46%, #bc82fe 100%);
        color: #fff;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        min-width: 80px;
        margin-inline: auto;
      }
      display: flex;
    }
  }
  & header {
    width: 90vw;
    min-height: 12dvw;

    margin-inline: auto;
    margin-top: 2%;

    border-radius: 15px;
    background: #a253f924;

    display: flex;
    flex-direction: row;
    gap: 20px;

    padding: 15px;
    & > div:first-child {
      border-radius: 15px;
      background: rgba(0, 0, 0, 0.63);

      display: flex;
      justify-content: center;
      align-items: center;

      min-width: 90px;
      min-height: 100px;
      max-width: 200px;
      & img {
        width: 80%;
      }
    }
    & div:last-child {
      display: flex;
      justify-content: center;
      align-items: center;
      & h2 {
        text-align: center;
        font-size: 25px;
      }
    }
  }
  & > div:last-child {
    display: flex;
    margin-inline: auto;
    width: 90vw;
    gap: 5%;
    & h2 {
      font-size: 20px;
    }
    & article {
      width: 50%;
      background-color: #a253f924;
      border-radius: 15px;
      padding: 15px;
      min-height: 52dvh;
    }
    .offers-user {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
